data_tools/VG/images
data_tools/VG/relationships.json
data_tools/VG/objects.json
data_tools/imdb_1024.h5
data_tools/VG-SGG-dicts.json
data_tools/VG-SGG.h5
data_tools/VG/VG-scene-graph.zip
data_tools/VG/image_data.json
data_tools/VG_old
